<div class="main-container">
    <h1 class="panel-title">Platform Araçları</h1>

    <div class="search-container">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="searchTerm" (input)="searchVehicles()" placeholder="Araç ara...">
        </span>
    </div>

    <ng-container *ngIf="!loading; else loadingTemplate">
        <ng-container *ngIf="filteredVehicles.length > 0; else noVehicles">
            <div class="vehicle-list-container">
                <div class="vehicle-list">
                    <p-card *ngFor="let vehicle of filteredVehicles" [header]="vehicle.vehicleName"
                        [subheader]="vehicle.type" styleClass="vehicle-card">
                        <ng-template pTemplate="content">
                            <p><strong>Plaka:</strong> {{ vehicle.plateNumber }}</p>
                            <p><strong>Açıklama:</strong> {{ vehicle.description }}</p>
                            <p><strong>Eklenme Tarihi:</strong> {{ vehicle.createdAt | turkishDate }}</p>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="card-buttons">
                                <button pButton pRipple type="button" label="Düzenle" icon="pi pi-pencil"
                                    class="p-button-outlined"></button>
                                <button pButton pRipple type="button" (click)="navigateTo('araci-izle', vehicle.id)"
                                    label="Aracı İzle" icon="fas fa-satellite-dish" class="p-button-outlined"></button>
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-template #loadingTemplate>
        <p>Araçlar yükleniyor...</p>
    </ng-template>

    <ng-template #noVehicles>
        <p class="no-vehicles">Bu platforma ait araç bulunmamaktadır.</p>
    </ng-template>

    <div class="navigation-cards">
        <div class="option-card" (click)="navigateTo('platformlari-listele')">
            <i class="pi pi-arrow-circle-left"></i>
            <h2>Geri Dön</h2>
            <p>Platform Listesine Geri Dönün</p>
        </div>
        <div class="option-card" (click)="navigateTo('ana-sayfa')">
            <i class="pi pi-home"></i>
            <h2>Ana Sayfa</h2>
            <p>Ana Sayfa'ya Geri Dönün</p>
        </div>
    </div>
</div>