<div class="main-container">
    <div class="scroll-container">
        <section class="sequence-item" id="intro">
            <div class="content-wrapper">
                <img src="assets/img/logo-atcint.svg" alt="ATC IOT Araç Takip Sistemleri" class="logo">
                <p class="description-text">ATC IoT Araç Takip Sistemleri</p>
            </div>
            <div class="scroll-indicator">
                <span class="arrow">&#8595;</span>
                <span class="scroll-text">Aşağı Kaydır</span>
            </div>
        </section>

        <section class="sequence-item" id="description1">
            <div class="text-container">
                <p class="description-text">
                    ATC IOT, araç ve varlık takibi için geliştirilmiş yenilikçi bir IoT çözümüdür.
                </p>
            </div>
        </section>

        <section class="sequence-item" id="description2">
            <div class="text-container">
                <p class="description-text">
                    GPS teknolojisi ile konum
                    takibi, sıcaklık, nem ve ihtiyaç doğrultusunda ekleyeceğimiz+
                </p>
            </div>
        </section>

        <section class="sequence-item" id="description3">
            <div class="text-container">
                <p class="description-text">
                    çeşitli sensörlerle
                    özelleştirilebilir parametre takibi sağlar.
                </p>
            </div>
        </section>

        <section class="sequence-item" id="description4">
            <div class="text-container">
                <p class="description-text">
                    Gözünüz arkada kalmasın,
                </p>
            </div>
        </section>

        <section class="sequence-item" id="description5">
            <div class="text-container">
                <p class="description-text">
                    İşinizin üzerindeki gözünüz olalım.
                </p>
            </div>
        </section>

        <section class="final-section">
            <app-bottom-hero-section></app-bottom-hero-section>
        </section>

        <section class="final-section">
            <app-bottom-hero-section-2></app-bottom-hero-section-2>
        </section>



    </div>