<div class="hero-section">
    <p-card styleClass="hero-card">
        <div class="flex flex-column md:flex-row">
            <div class="flex-1 text-center md:text-left">
                <h2>Ana Başlık</h2>
                <h3>Alt Başlık</h3>
                <p>Bu kısımda detaylı bir açıklama yer alacak. İstediğiniz bilgileri buraya
                    ekleyebilirsiniz.
                </p>
            </div>
            <div class="flex-1">
                <img src="assets/img/hero-image-1.jpg" alt="Hero Image 1" class="w-full">
            </div>
        </div>
    </p-card>
</div>

<div class="hero-section">
    <p-card styleClass="hero-card">
        <div class="flex flex-column md:flex-row">
            <div class="flex-1 order-2 md:order-1">
                <img src="assets/img/hero-image-2.jpg" alt="Hero Image 2" class="w-full">
            </div>
            <div class="flex-1 text-center md:text-left order-1 md:order-2">
                <h2>İkinci Ana Başlık</h2>
                <h3>İkinci Alt Başlık</h3>
                <p>Bu kısımda ikinci bir detaylı açıklama yer alacak. İstediğiniz bilgileri buraya
                    ekleyebilirsiniz.</p>
            </div>
        </div>
    </p-card>
</div>

<div class="contact-button-container">
    <p-button label="Bizimle İletişime Geç" icon="pi pi-envelope"
        styleClass="p-button-raised p-button-rounded"></p-button>
</div>