<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-4xl md:text-6xl font-bold mb-1">Geleceğin Araç Takip Teknolojisi</span>
            <div class="text-4xl md:text-6xl text-primary font-bold mb-3">ATC IOT ile Şimdi Başlıyor</div>
            <p class="mt-0 mb-4 text-700 line-height-3 text-base md:text-lg">Dünyanın neresinde olursa olsun, filonuzun
                nabzını
                elinizin altında tutun. GPS, sıcaklık, nem ve daha fazlasını gerçek zamanlı izleyin.
                ATC IOT ile araçlarınız güvenle yolun üstünde, kontrolünüzün altında.</p>

            <button pButton pRipple label="İletişim" type="button" class="mr-3 p-button-raised mb-2 md:mb-0">Bizimle
                İletişime Geçin!</button>
            <button pButton pRipple label="Referans" type="button" class="p-button-outlined">Referanslar & Ekran
                Görüntüleri</button>
            <div class="flex justify-content-center md:justify-content-start mt-5">
                <div class="flex align-items-center mr-4">
                    <span class="p-3 bg-primary border-circle" pTooltip="Kesintisiz Veri İletişimi"
                        tooltipPosition="bottom">
                        <i class="fas fa-satellite-dish text-xl text-white"></i>
                    </span>
                </div>
                <div class="flex align-items-center mr-4">
                    <span class="p-3 bg-primary border-circle" pTooltip="Nem ve Sıcaklık Takibi"
                        tooltipPosition="bottom">
                        <i class="fas fa-tint text-xl text-white"></i>
                    </span>
                </div>
                <div class="flex align-items-center mr-4">
                    <span class="p-3 bg-primary border-circle" pTooltip="Araç Filosu Yönetimi" tooltipPosition="bottom">
                        <i class="fas fa-truck text-xl text-white"></i>
                    </span>
                </div>
                <div class="flex align-items-center mr-4">
                    <span class="p-3 bg-primary border-circle" pTooltip="IoT Teknolojisi" tooltipPosition="bottom">
                        <i class="fas fa-microchip text-xl text-white"></i>
                    </span>
                </div>
                <div class="flex align-items-center">
                    <span class="p-3 bg-primary border-circle" pTooltip="Yapay Zeka Destekli Analiz"
                        tooltipPosition="bottom">
                        <i class="fas fa-brain text-xl text-white"></i>
                    </span>
                </div>
            </div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../assets/img/hero-image-1.png" alt="ATC IOT Araç Takip Sistemi"
            class="w-full md:ml-auto md:w-auto" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>