<div class="container">
    <div class="sidebar">
        <div class="profile-container">
            <img [src]="profileImageUrl" alt="Profil Resmi" class="profile-image">
        </div>
        <div class="user-info">
            <p><b>İsim: </b>{{ userAttributes?.["custom:firstName"] || '' }}</p>
            <p><b>Soyisim: </b>{{ userAttributes?.["custom:lastName"] || '' }}</p>
            <p><b>Organizasyon: </b>{{ userAttributes?.["custom:organization"] || '' }}</p>
            <p><b>Telefon: </b>{{ userAttributes?.["custom:phone"] || '' }}</p>
            <p><b>E - Posta: </b>{{ userAttributes?.email || '' }}</p>
            <!-- Diğer kullanıcı bilgileri -->
        </div>
    </div>
    <div class="content">
        <div class="upper-buttons">
            <div class="option-card" (click)="navigateTo('binalarim')">
                <i class="pi pi-building"></i>
                <h2>Binalarım</h2>
                <p>Bina bilgilerinizi yönetin</p>
            </div>
            <div class="option-card" (click)="navigateTo('araclarim')">
                <i class="pi pi-car"></i>
                <h2>Araçlarım</h2>
                <p>Araç bilgilerinizi yönetin</p>
            </div>
            <div class="option-card" (click)="navigateTo('teknik-destek')">
                <i class="pi pi-cog"></i>
                <h2>Teknik Destek Talep Et</h2>
                <p>Yardım ve destek alın</p>
            </div>
        </div>
        <div class="bottom-buttons">
            <div class="sub-buttons">
                <div class="option-card" (click)="navigateTo('teknik-destek')">
                    <i class="pi pi-chart-line"></i>
                    <h2>Kullanıcı İstatistikleri</h2>
                    <p>İstatistiklerinize Göz Atın</p>
                </div>
                <div class="option-card" (click)="navigateTo('teknik-destek')">
                    <i class="pi pi-user-edit"></i>
                    <h2>Bilgileri Güncelle</h2>
                    <p>E - Posta, İsim, Telefon Gibi Bilgilerinizi Güncelleyin</p>
                </div>
                <div class="option-card" (click)="navigateTo('ana-sayfa')">
                    <i class="pi pi-home"></i>
                    <h2>Ana Sayfa</h2>
                    <p>Ana Sayfa'ya Geri Dönün</p>
                </div>
            </div>
        </div>
    </div>
</div>