<div class="fullscreen-container">
    <div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 content-section">
            <section>
                <span class="block text-6xl font-bold mb-1 text-primary">ATC IOT</span>
                <div class="text-5xl font-bold mb-3 text-800">Araç Takip Sistemleri</div>
                <p class="text-2xl mt-0 mb-4 text-700 line-height-3 font-bold mb-3 text-primary">Yolculuğunuzu Güvenle
                    İzleyin, Geleceğe Yön Verin
                </p>
                <p class="mt-0 mb-4 text-700 line-height-3">Araçlarınızı en son IoT teknolojisi ile takip edin.
                    Güvenlik, verimlilik ve kontrol artık parmaklarınızın ucunda.</p>

                <div class="button-container">
                    <a routerLink="/giris-yap" class="btn btn-primary">Sisteme Giriş Yapın</a>
                    <a routerLink="/hakkimizda" class="btn btn-secondary">Daha Fazla Bilgi</a>
                </div>
            </section>
        </div>
        <div class="col-12 md:col-6 image-section">
            <img src="assets/img/login.jpg" alt="ATC IOT Araç Takip Sistemi" class="image-clip">
        </div>
    </div>
</div>